body {
  text-align: center;
  color:white;
  background-color: rgb(32, 53, 81);
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: 'Roboto Mono';
  color: rgb(62, 55, 55);


}

h1 {
  font-size: 45px;
  color: rgb(56, 40, 34);
}

h2 {
  margin: 10px;
  font-size: 4vw;
}

h4 {
  margin: 10px;
  font-size: 2vw;
}


#bod {
  position: relative;
  
  z-index: -2;
  text-align: center;
  color:white;
  background-color: rgb(32, 53, 81);
  background: repeating-linear-gradient( -45deg, #444cf7, #444cf7 5px, rgb(32, 53, 81) 5px, rgb(32, 53, 81) 40px );
  padding: 0;
  margin: 0;

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Mono';
  color: rgb(62, 55, 55);
}



#box {
 
  width: 600px;
  background: rgb(56, 40, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  border-radius: 10px;
  box-shadow: -10px 10px  #1b1b1b;
  transition: 0.2;
}

.clock_buttons {
  position:relative;
  display: flex;
}


.construction {
  margin-top: 25vh;
}



.clock_button {
  
  position:relative;
  z-index: -1;
  width: 60px;
  height: 30px;
  border-radius:10px 10px 0 0 ;
  margin: auto;
  background-color: rgb(198, 192, 190);

}

.clock_button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius:10px 10px 0 0 ;
  box-shadow:  -10px 10px  #1b1b1b;
}



.clock {

  position:relative;
  z-index: 0;
  box-shadow: -10px 10px  #1b1b1b;
  background-color: rgb(198, 192, 190);

  height: 120px;
  width: 200px;
  margin: 15px auto; 
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2;

}

#ribbon {
  width:100%;
  background-color: rgba(222, 220, 219, 0.85);
  position: fixed;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.btn, .ten-btn {
  font-size: 2vh;
  font-family: 'Roboto Mono';
  font-weight: bold;
  color: rgb(56, 40, 34);
  background-color: rgba(81, 193, 189,0);
  border: 3px solid rgb(56, 40, 34);
  outline: none;
  border-radius: 10px;
  box-shadow:  -3px 3px  rgb(56, 40, 34);
  transition: 0.2s;
  margin-right: 15px;

}

.btn:hover {
  border: 3px solid rgb(90, 71, 65);
  box-shadow:  -3px 3px  rgb(90, 71, 65);
  color: rgb(90, 71, 65);

}

#kredz {
  position: fixed;
  bottom:0;
  right: 0;
  color: white;
  opacity: 0.5;
  font-size: 10px;
  margin-right: 10px;

}
a {
  color: white;
}
.unhide {
  display:none;
}

@media screen and (min-width: 100px) and (max-width: 800px) {
  #box {
    
    width: 80vw;
  }

  .construction {
    margin-top: 15vh;
  }

  .clock {
    
    margin: 10px auto;
    height: 10vh;
    width: 30vw;
  }

  h1 {
    font-size: 4vh;
  }

  h2 {
    margin: 10px;
    font-size: 4vh;
  }
  
  h4 {
    margin: 10px;
    font-size: 2vh;
  }
  .unhide {
    display:inherit;
  }
  


  



}

